Source: gxde-session-ui
Section: devel
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>= 8.0.0), pkg-config,
 libx11-xcb-dev,
 qt5-qmake,
 qtbase5-dev,
 liblightdm-qt5-3-dev | liblightdm-qt-dev,
 libxcb-ewmh-dev,
 libqt5x11extras5-dev,
 libgsettings-qt-dev,
 libqt5svg5-dev,
 libglib2.0-dev,
 libdtkwidget2-dev,
 qtdeclarative5-dev,
 qttools5-dev-tools,
 libpam0g-dev,libsystemd-dev,
 libgxframeworkdbus-dev,
 deepin-gettext-tools,
 libxtst-dev,
 libxcursor-dev,
 libxrandr-dev,
 libdtkcore5-bin,
 libdtkcore-dev,
 layer-shell-qt,
 liblayershellqtinterface-dev,
 qt6-tools-dev-tools,
 qt6-tools-dev,
 libdtk2widget6-dev,
 qt6-base-dev,
 cmake,
 qt6-svg-dev,
 libdframeworkdbus-qt6-dev,
 libgsettings-qt6-dev,
Standards-Version: 3.9.4
Homepage: http://www.deepin.org/

Package: gxde-session-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${dist:Depends}, gxde-desktop-schemas (>= 2.91.2), deepin-daemon, x11-xserver-utils, dbus-x11,gxde-qt5integration
Provides: lightdm-greeter, dde-session-ui
Recommends: onboard
Conflicts: dde-workspace,
 startdde (<< 2.91.1),
 deepin-notifications,
 dde-session-ui,
Replaces: deepin-notifications, dde-session-ui (>> 5.0.1-2),
Breaks: dde-workspace, startdde(<< 2.91.1)
Description: deepin desktop-environment - gxde-session-ui module
 Deepin desktop environment 2015 - gxde-session-ui module.
